.page-template-events-blade-php header a,
.page-template-events-blade-php h1,
.page-template-events-blade-php h2,
.page-template-events-blade-php h3 {
  color: #fff;
}

.page-template-events-blade-php .banner-events {
  padding: 4rem 0 8rem 0;
  position: relative;

  @include media-breakpoint-down(sm) {
    padding: 0 0 4rem 0;
  }
}

.page-template-events-blade-php div.banner-events::after {
  background: #026266;
  content: " ";
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: -100px;
  left: 0;
  -webkit-clip-path: ellipse(55% 50% at 50% 0%);
  clip-path: ellipse(55% 50% at 50% 0%);
  z-index: 2;
}

.page-template-events-blade-php .banner-events h2 {
  font-size: 72px;
  line-height: 72px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 0.75rem;
}

.page-template-events-blade-php .banner-events h3 {
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.calendar {
  margin-top: -1rem;

  form {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    &#tribe_events_filters_form {
      background: #da5f4a;
    }
  }
}

.calendar-search {
  height: 100%;
}

.calendar-filters {
  background: $bountiful-rose;
  z-index: 2;

  .tribe-events-filters-content {
    background: none;
    border: none;
  }

  button {
    font-size: 20px;
    background: none;
    border: none;
  }

  input,
  textarea,
  button {
    background: none;
    padding: 0.25rem 0 0.25rem 0;
    margin: 0;
    width: 100%;
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    border-bottom: solid #fff 3px;
    text-align: left;
  }

  input.tribe-events-button {
    border-bottom: none;
    background: #da5f4a;
    display: block;
    text-align: center;
    padding: 0.5rem 0;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
  }

  ::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
  }

  :-ms-input-placeholder { /* IE 10+ */
    color: #fff;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: #fff;
  }
}

.tribe-events-filter-view.tribe-filters-closed #tribe_events_filters_form,
.tribe-events-filter-view.tribe-filters-closed #tribe_events_filters_wrapper .tribe-events-filters-label,
.tribe-events-filter-view.tribe-filters-closed .tribe_events_filters_reset {
  display: flex;
  justify-content: space-around;
}

.tribe-filters-closed .tribe-events-filters-content {
  padding: 0 30px;
}

#tribe_events_filters_form fieldset {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.tribe_events_filter_item {
  button {
    color: #fff;
    border-bottom: solid 3px #fff;
    width: 100%;
  }
}

.tribe-bar-submit {
  border: none;
}

@include media-breakpoint-down(sm) {
  .tribe-bar-date-filter,
  .tribe-bar-search-filter {
    margin-bottom: 1rem;
  }
}
