.intro-content {
  .sidebar {
    ul {
      list-style-type: none;
      padding: 0;

      li {
        color: $bountiful-green;
        font-size: 20px;
        font-weight: 300;
        line-height: 24px;
        padding: 1.5rem 0;
        border-bottom: 2px dashed $bountiful-green;
      }

      li:first-of-type {
        padding: 0 0 1.5rem 0;
      }
    }

    @include media-breakpoint-down(sm) {
      ul li {
        font-size: 18px;
      }
    }

    @include media-breakpoint-down(xs) {
      margin: 3rem 0 0 0;
    }
  }
}

.intro-content p {
  font-size: 22px;
  line-height: 36px;
  color: $bountiful-turquoise;

  @include media-breakpoint-down(sm) {
    font-size: 19px;
    line-height: 32px;
  }
}

a {
  color: $bountiful-rose;
}

@include media-breakpoint-down(sm) {
  h2 {
    font-size: 30px;
    line-break: 35px;
    margin-bottom: 25px;
  }
}
