footer {
  align-content: center;
  padding: 5rem 0 7rem 0;
  position: relative;

  div {
    display: flex;
    justify-content: center;

    div {
      flex-direction: column;
    }

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;

    @include media-breakpoint-down(sm) {
      margin: 2rem auto 0 auto;
    }
  }

  p,
  address,
  a {
    font-size: 18px;
    font-weight: 600;
    color: $bountiful-turquoise;
    line-height: 19px;

    @include media-breakpoint-down(md) {
      font-size: 16px;
      line-height: 17px;
    }
  }

  a:hover {
    color: $bountiful-rose;
  }

  .nav-primary {
    justify-items: center;
    flex-direction: column;
  }

  .nav-primary ul {
    flex-direction: column;

    @include media-breakpoint-down(md) {
      align-items: center;
      text-align: center;
    }
  }

  .nav-primary .menu-item a {
    max-width: none;
    border-right: none;
    border-bottom: dotted 2px $bountiful-green;
    padding: 2rem 0;
  }

  svg {
    height: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.sponsors {
  background: #e9725d;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-top: 4rem;
  margin-top: 0;
  text-align: center;

  img {
    margin: 2rem 0 3rem 0;
    max-width: 450px;
    max-height: 125px;
    padding: 1rem 3rem;
    border-right: solid 2px #8e1821;

    &:nth-last-of-type() {
      border-right: none;
    }
  }

  h4 {
    color: #fff;
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
}
