.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

header {
  svg {
    height: 14px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.brand {
  margin: 3rem 0 0 0;

  h1 {
    font-size: 24px;
    font-weight: 700;
    color: $bountiful-green;
    line-height: 24px;
    max-width: 115px;
  }

  h2 {
    font-size: 14px;
    font-weight: 500;
    color: #007276;
    margin: 0;
    line-height: 18px;
  }

  @include media-breakpoint-down(sm) {
    margin: 3rem 0 1rem 0;
  }
}

.nav-primary {
  align-items: center;
  flex-direction: row-reverse;

  ul {
    flex-wrap: nowrap;
  }

  .menu-item a {
    display: inline-flex;
    font-size: 18px;
    font-weight: 600;
    padding: 1rem 2rem;
    color: $bountiful-green;
    line-height: 17px;
    width: auto;
    max-width: 170px;
    border-right: 2px dotted $bountiful-green;

    @include media-breakpoint-down(sm) {
      padding: 1rem 1rem;
      font-size: 16px;
    }
  }

  .menu-get-in-touch {
    max-width: 120px;
    padding-right: 0;
  }

  .menu-item:last-child a {
    border: none;
    padding-right: none;
  }
}

.banner {
  height: 700px;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    height: 450px;

    img {
      max-width: 300px;
    }
  }

  img {
    -webkit-filter: drop-shadow(0 0 15px #21302f);
    filter: drop-shadow(0 0 15px #21302f);
  }

  &::before {
    content: "";
    display: block;
    background: url(../images/flag-top.svg) no-repeat top center;
    background-size: contain;
    position: absolute;
    top: -2px;
    width: 105%;
    height: 100px;
    z-index: 1;
  }

  &::after {
    content: "";
    display: block;
    background: url(../images/flag-bottom.svg) no-repeat bottom center;
    background-size: contain;
    position: absolute;
    bottom: -2px;
    width: 105%;
    height: 100px;
  }
}

//Hamburger
.hamburger {
  position: absolute;
  right: 1rem;
  top: 3rem;
  z-index: 10;

  &.is-active {
    position: fixed;
  }
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger-inner:focus {
  background-color: $bountiful-green;
  outline: none;
}

button:focus {
  outline: none !important;
}

//Mobile Nav
.nav-mobile {
  background: $bountiful-rose;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 5;
  transition: display 0.6 ease-in-out;

  ul.nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    text-align: center;

    li.menu-item {
      margin: 0;

      a {
        @extend h2;

        color: #fff;
        margin: 0;
        padding: 15px;
      }
    }
  }
}
