.vendors {
  .content {
    h2 {
      font-size: 36px;
      margin-bottom: 15px;
    }

    h3 {
      font-size: 24px;
      margin-bottom: 5px;
    }

    p {
      font-size: 20px;
      color: $bountiful-turquoise;
      line-height: 30px;
    }
  }
}
