//Typography
h1,
h2,
h3,
h4,
h5,
p,
a,
div,
li {
  font-family: filson-pro, Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 33px;
  font-weight: 900;
  line-height: 40px;
  color: #007276;
  letter-spacing: 0;
  margin-bottom: 40px;
}

h3 {
  font-weight: 400;
  font-size: 20px;
  color: #92bc5c;
  letter-spacing: 0;
  text-align: center;
  line-height: 32px;
  margin-bottom: 40px;
}

p {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: 40px;
  color: #435454;
}

hr {
  border: 2px solid rgba(122, 122, 122, 0.1);
  margin: 0 21% 50px 21%;
}

a {
  &.btn-secondary {
    color: #fff;
  }

  &.btn-link {
    color: #92bc5c;
  }

  &.light {
    background-color: #e7f0da;
    color: #92bc5c;
    border-color: #e7f0da;
    font-size: 14px !important;
  }
}

.small {
  p {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 19px;
    padding: 0;
  }
}

.logo {
  width: 160px;
  height: auto;
  margin: 4rem 0 3rem 0;
}

section {
  padding: 4rem 0;
}
