body {
  -webkit-font-smoothing: antialiased;
}

body.admin-bar {
  position: relative;
}

//Typography
h1,
h2,
h3,
h4,
h5,
p,
a,
div,
li {
  font-family: filson-pro, Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  line-height: 40px;
  color: $bountiful-turquoise;
  letter-spacing: 0;
  margin-bottom: 40px;
}

h3 {
  font-size: 33px;
  font-weight: 700;
  color: $bountiful-green;
  letter-spacing: 0;
  line-height: 40px;
  margin-bottom: 25px;
}

.content p {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 39px;
  margin-bottom: 35px;
  color: #435454;

  @include media-breakpoint-down(sm) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 25px;
  }
}

hr {
  border: 2px solid rgba(122, 122, 122, 0.1);
  margin: 0 21% 50px 21%;
}

a {
  transition: all 0.4s ease-in-out;

  &:hover {
    text-decoration: none;
    transition: all 0.4s ease-in-out;
  }

  &.btn-secondary {
    color: #fff;
  }

  &.btn-link {
    color: #92bc5c;
  }

  &.light {
    background-color: #e7f0da;
    color: #92bc5c;
    border-color: #e7f0da;
    font-size: 14px !important;
  }
}

.small {
  p {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 19px;
    padding: 0;
  }
}

img {
  max-width: 100%;
}

.logo {
  width: 160px;
  height: auto;
  margin: 4rem 0 3rem 0;
}

.content {
  section {
    padding: 7rem 0;

    @include media-breakpoint-down(sm) {
      padding: 4rem 0;
    }

    &.beige {
      background: $bountiful-beige;
    }

    div {
      display: flex;
      flex-direction: column;
    }
  }

  a {
    padding-bottom: 4px;
    border-bottom: solid 2px;
    display: inline-block;
    z-index: 2;

    &:hover {
      text-decoration: none;
    }

    &.download {
      margin-left: 1.5rem;
      font-size: 18px;

      &::before {
        display: block;
        content: "\f0ab";
        color: $bountiful-rose;
        position: absolute;
        left: 2rem;
        font-family: fontawesome, Arial, Helvetica, sans-serif;
      }
    }
  }
}

//Hamburger Nav
.nav-mobile {
  display: none;

  &.is-active {
    display: block;
  }
}

body.is-active {
  position: fixed;
}

.modal-dialog {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
  padding: 4rem;

  @include media-breakpoint-up(md) {
    padding: 10rem;
  }

  @include media-breakpoint-up(md) {
    padding: 10rem 15rem;
  }
}
