/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #007276,
  secondary: #92bc5c
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$grid-gutter-width: 80px !default;

//Colours
$bountiful-green: #92bc5c;
$bountiful-turquoise: #007276;
$bountiful-rose: #e9725d;
$bountiful-orange: #f4885d;
$bountiful-beige: #f9f7ef;

/** Slick Carousel items **/
$slick-loader-path: "~slick-carousel/slick/";
$slick-font-path:   "#{$slick-loader-path}fonts/";
