/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #007276,
  secondary: #92bc5c
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$grid-gutter-width: 80px !default;

//Colours
$bountiful-green: #92bc5c;
$bountiful-turquoise: #007276;
$bountiful-rose: #e9725d;
$bountiful-rose-dull: #d57974;
$bountiful-orange: #f4885d;
$bountiful-beige: #f9f7ef;
$bountiful-deepred: #8e1821;

/** Slick Carousel items **/
$slick-loader-path: "~slick-carousel/slick/";
$slick-font-path:   "#{$slick-loader-path}fonts/";

/** Fluid Type **/
//The following sets variable font sizes for home page section.
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;

      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 1400px;
$min_font: 80px;
$max_font: 170px;
