/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #007276,
  secondary: #92bc5c
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$grid-gutter-width: 60px !default;

//Colours
$bountiful-green: #92bc5c;
